<document>
  <formTemplate>
    <banner>
      <title>Login</title>
    </banner>
    <textField>Email</textField>
    <footer>
      <button>
        <text>Login</text>
      </button>
    </footer>
  </formTemplate>
</document>
