<document>
  <mainTemplate>
    <menuBar>
      <section>
        <menuItem>
          <title>Browse</title>
        </menuItem>
        <menuItem>
          <title>Subscriptions</title>
        </menuItem>
        <menuItem>
          <title>Search</title>
        </menuItem>
      </section>
    </menuBar>
  </mainTemplate>
</document>
